* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    
body {
    padding: 8px;
    display: flex;
    height: 100vh;
    background: #f4f4f4;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px #0003;
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    background: #2970ff;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.result {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 18px;
    }
    
    input,
    button {
        font-size: 12px;
    }
}